################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/WoterCantrol/bin
/WoterCantrol.BLL/bin/Debug
/WoterCantrol.DAL/bin/Debug
