@model int

@section header{
    @{Html.RenderPartial("Partial/header", model: new WoterCantrol.Models.UserViewModel() { Role = "User" });}
}
@section scripts{
    <script>
        window["id"] =@Model;
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="~/Scripts/EditSensor.js"></script>
}

<div style="width:25%;margin: 0 auto;margin-top: 100px;text-align: center;background-color:cadetblue;"class="form-horizontal">
<form id="form">
    <div id="legend">
        <legend class="">Add Sensor</legend>
    </div>
    <div id="my-form">
        <div v-for="input in inputs" class="control-group">
            <label class="control-label">{{input.name}}</label>
            <div class="controls">
                <input :type="input.type" :id="input.Id" :name="input.Id" class="input-xlarge" :value="input.value" required :pattern="input.pattern" :autocomplete="input.autocomplete">
            </div>
        </div>
        <div>
            <label class="control-label">{{radioInputs1.label}}</label>
            <p>
                <input :type="radioInputs1.type" :id="radioInputs1.Id" :name="radioInputs1.name" :value="radioInputs1.value">{{radioInputs1.value}}
                <input :type="radioInputs2.type" :id="radioInputs2.Id" :name="radioInputs2.name" :value="radioInputs2.value">{{radioInputs2.value}}
            </p>
            <label class="control-label">{{radioInputs3.label}}</label>
            <p>
                <input :type="radioInputs3.type" :id="radioInputs3.Id" :name="radioInputs3.name">{{radioInputs3.value}}
                <input :type="radioInputs4.type" :id="radioInputs4.Id" :name="radioInputs4.name">{{radioInputs4.value}}
            </p>
        </div>
    </div>
    <div class="control-group">
        <!-- Button -->
        <div class="controls">
            <input type="submit" id="submit" value="Edit Sensor" class="btn btn-success">
            <p></p>
        </div>
    </div>
    <br />
</form>
    </div>